{% extends 'sapi/base.html' %}
{% block content %}
	<p><a href="{% url 'sapi_add' %}"><b> (+)Tambah Peralatan</b></a></p>
	   <a href="{% url 'sapi_to_pdf' %}"><b> (+)Print Data Sapi (PDF)</b></a></p>
	<br>
	{% for sapi in peternakan %}
		<h3><a href="{% url 'sapi_detail_view' sapi.id %}">
							{{ sapi.nama_sapi }}</a></h3>
		<i>Kategori :</i>
		{% if sapi.kategori == 'sppr' %}
			Sapi Perah
			{% elif sapi.kategori == 'sppt' %}
				Sapi Potong
				{% else %}
				Sapi Ternak
		{% endif %} 
	{% endfor %}
{% endblock %}