{% extends 'sapi/base.html' %}
{% block content %}
	<a href="{% url 'sapi_detail_view' peternakan.id %}"><b> <-- Back </b></a>
	<h3>Edit Data Sapi</h3>
	<form action="" method="post">
		{% csrf_token %}
		{{ form.as_p }}
		<input type="submit" value="Update">
	</form>
{% endblock %}