{% extends 'sapi/base.html' %}
{% block content %}
	<a href="{% url 'home_page' %}"> <--Back </a>
	<h3 style="color: deeppink">{{ peternakan.nama_sapi }}</h3>
	<b>Kategori :</b>
		{% if sapi.kategori == 'sppr' %} Sapi Perah
			{% elif sapi.kategori == 'sppt' %} Sapi Potong
			{% else %}Sapi Ternak
		{% endif %}<br>
	<b>Harga :</b> Rp. {{ peternakan.harga }}<br>
	<b>Keterangan :</b> {{ peternakan.keterangan }}<br>
	<b>Berat :</b> {{ peternakan.berat }} kg<br>
	<b>Jml :</b> {{ peternakan.jumlah }}
	<br><br>
	<a href="{% url 'sapi_edit' peternakan.id %}"> Edit Sapi</a> &nbsp;
	<a href="{% url 'sapi_delete' peternakan.id %}">Hapus Sapi</a>
{% endblock %}