<!DOCTYPE html>
<html>
<head>
	<style type="text/css">
		@page {
			size: A4 landscape;
			margin: 1cm;
		}
	</style>
</head>
<body>
<font size="15px" color="#8a2be2"> DAFTAR SAPI DI PERTERNAKAN SE-KABUPATEN KEDIRI</font>
<br><br>
<table border="1">
	<thead>
		<tr>
			<th>Nama Sapi</th>
			<th>Jenis</th>
			<th>Harga</th>
			<th>Keterangan</th>
		</tr>
	</thead>
	<tbody>
		{% for sapi in peternakan %}
		<tr>
			<td width="40%" align="center">{{ sapi.nama_sapi }}</td>
			<td width="15%" align="center"> {% if  sapi.kategori == 'sppr' %} Sapi Perah 
				{% elif sapi.kategori == 'sppt' %} Sapi Potong
				{% else %} Sapi Ternak
				{% endif %}
			</td>
			<td width="15%" align="center">Rp. {{ sapi.harga }}</td>
			<td width="15%" align="center"><br>{{ sapi.keterangan }}<br></td>
		</tr>
		{% endfor %}
	</tbody>
</table>
</body>
</html>
